@import "ui.css";
:root{
    --bg-color1:white;
    --bg-color2:black;
    --bg-color3:rgb(147, 10, 10);
    --bg-color4:rgb(123, 46, 46);
    --bg-color5:rgb(15, 14, 14);
    --bg-color6:rgb(111, 108, 108);
    --bg-color7:#ff0000;
    --bg-size1:12px;
    --bg-size2:30px;
}
body{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size:1.2vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
a { text-decoration: none;
    color:var(--bg-color1)    
}

ul li .search {
	border-radius: 25px;
}

.eror{font-size:var(--bg-size1);
    display: none;
    position: absolute;
    color:var(--bg-color2)
}
.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.5vw;
    position: fixed;
    background-color: var(--bg-color2);
    z-index: 1;
}

ul{
    list-style-type: none ;
    display: block;
	padding: 1em;
	font-size: 20px;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
    
    
}


.list-item, .icons li{
    display:inline-block ;
    margin-left: 35px;
    
}
.logo-img{
    height:65px;
}

    

.fa-user,.fa-youtube{
    color:grey;
}

.menu-name a:hover, .fa-cart-shopping:hover, .fa-magnifying-glass:hover{
    color:var(--bg-color4)
}
.hamburger, .close, .small{
    display: none;
}
.fa-xmark{
    color:var(--bg-color1);
}
main{
    width: 100%;
    height: auto;
    background-color: var(--bg-color5);
    color: var(--bg-color1);
    padding-top: 75px;
    
}



.product_wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 70rem;
    position: relative;
	margin-top: 0px;
	margin-inline: auto;
  }

  


.container{
    position: relative;
	margin-top: 100px;
	width: min(90%, 1000%);
    display: flex;
}

.product_specific {
    margin: auto;
    padding: 2rem;
    text-align: left;
  }

.movieCard {
    margin-top: 2rem;
  }
.movie {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    justify-content: space-between;
  }
  
.movie,
  .movie p {
    margin: 1rem auto;
    width: 24rem;
    max-width: 100%;
  }
  
.movie p,
.movie .cta-button,
.movie .cta-button:hover {
    width: 50%;
    border-left: none;
    border-right: none;
    padding: 1.5rem 0rem;
    margin: 0;
  }
  
.movie p {
    padding: 0.4rem 0rem;
  }
  
.movieImage {
    display: block;
    width: 90%;
    margin: auto;
  }
  
.movieSale {
    text-decoration: line-through;
  }

.discount {
    color: var(--bg-color7)
  }

.movieImage {
    display: flex;
}

.movie img {
    display: block;
    width: 100%;
}
  
.movie_details {
    max-width: 550px;
  }
  
.add_bag,
.add_bag:hover {
    margin: 1rem 0;
    cursor: pointer;
  }
  
.content{
    width:50%;
    height:auto;

    text-align: center; 
}
.content h1{
    font-size: 3.194vw;
    line-height: 3.89vw;
    padding-bottom: 2.5vw;
}
.content p{
    font-size: 18px;
    line-height: 2vw;
    text-align: left;
    padding-bottom: 2vw;
    color: white;
	font-family: 'Inter';
	text-shadow: 0 0 10px black;
}

.buttons {
    flex-wrap: wrap;
  }
  
.buttons > * {
    flex: 1;
  }

.button, button{
    color: var(--bg-color1);
    background-color: var(--bg-color3);
    font-size: 2.5vw;
    border-radius: 7px;
    border: 5px solid var(--bg-color3) ;
    font-weight: bold;
}
.button:hover, button:hover{
    background-color: var(--bg-color4);
    border:5px solid var(--bg-color4) ;
}
.fa-user:hover{
    color:var(--bg-color4)
}

.cta-button {
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    background-color: var(--bg-color3);
    border: 1px solid #000506;
    padding: 0.6rem;
    margin: 0.5rem;
    font-family: inherit;
    border-radius: 10px;
   
  }
  
  .cta-button:hover {
    background-color: var(--bg-color4);
    border:5px solid var(--bg-color4) ;
  }
  

  

.container {
	position: relative;
	margin-top: 0px;
	margin-inline: auto;

}

.container img {
    display: block;
    width: 100%;


}

/* Mobile styling for product_specific.html */

.product_specific {
    /* max-width: 50rem; */
    margin: auto;
    padding: 2rem;
    text-align: left;
  }
  
  .movieImage {
    display: flex;
  }
  
  .movie_details {
    max-width: 550px;
  }
  
  .add_bag,
  .add_bag:hover {
    margin: 1rem 0;
    cursor: pointer;
  }
  
  .popup {
    display: none;
    z-index: 1;
    cursor: pointer;
  }
  
  .popup_text {
    background-color: white;
    position: fixed;
    z-index: 2;
    top: 35%;
    left: 30%;
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #0b626f;
  }
  
  .close {
    float: right;
  }


/* Mobile/desktop styling: shipping.html/payment.html */

.progress_text,
.progress_bar {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 70rem;
  max-width: 100%;
}

.shipping,
.payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shipping div,
.payment div {
  border: 1px solid #0b626f;
  width: 12rem;
  border-radius: 15px;
  padding: 1.5rem;
  margin: 0.6rem;
}

.shipping_info,
.cc_info,
.password {
  display: flex;
  flex-direction: column;
  width: 28rem;
  max-width: 100%;
  margin: 1.5rem auto;
  text-align: left;
}

.shipping_info input,
.cc_info input,
.password input {
  box-sizing: border-box;
  border: #0b626f 1px solid;
  width: 100%;
  margin: 0.5rem 0rem;
  padding: 0.5rem;
}

.shipping_info > *,
.cc_info > *,
.password > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.save_info,
.cta_buttons {
  display: flex;
  justify-content: space-between;
  width: 28rem;
  max-width: 100%;
  margin: 1.5rem auto;
  text-align: center;
}

.order-button {
  display: inline-block;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  background-color: #f5c55d;
  padding: 1rem 2.5rem;
}

.order-button:hover {
  background-color: #0b626f;
  color: #fff;
}


.hero-text {
	text-align: left;
	top: 15%;
	left: 15%;
	color: white;
}

.text{
	color: white;
	font-size: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	font-family: 'Inter';
	transform: translate(-50%,-50%);
	text-shadow: 0 0 10px black;
  }
  
.posters-menu{
    width:100%;
    height:auto;
    margin-top:15px;
    font-size: 1.5vw;   
}
.poster-header{
    margin-left:5.6vw;
    margin-bottom: 1.8vw; 
}
.posters, .posters-drama, .posters-kids{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: space-around;
}
.posters-image, .posters img{
    width:100%;
    max-height: 400px;
    border-radius: 5px; 
}

.footer{
	margin-top: auto;
	background:#000;
	padding:15px;
	font-family: 'Play', sans-serif;
	text-align:center;
	}
	
	.footer .row{
	width:100%;
	margin:1% 0%;
	padding:0.6% 0%;
	color:gray;
	font-size:0.8em;
	}
	
	.footer .row a{
	text-decoration:none;
	color:gray;
	transition:0.5s;
	}
	
	.footer .row a:hover{
	color:#fff;
	}
	
	.footer .row ul{
	width:100%;
	}
	
	.footer .row ul li{
	display:inline-block;
	margin:0px 30px;
	}
	
	.footer .row a i{
	font-size:2em;
	margin:0% 1%;
	}
	
	@media (max-width:720px){
	.footer{
	text-align:left;
	padding:5%;
	}
	.footer .row ul li{
	display:block;
	margin:10px 0px;
	text-align:left;
	}
	.footer .row a i{
	margin:0% 3%;
	}
	}

.footer-end{
    width:100%;
    height:auto;
    padding-top: 5px;
    display: flex;
    justify-content:space-around; 
    align-items: center;
    font-size: 1vw;  
}
.logo-footer{
    display: flex;
    justify-content: space-around;
}
.logo-footer img{
    margin-top: 1.15vw;
}
.copyright{
    display: block;
    text-align: center;
    font-size: 14px;
    
}
.connect i{
    margin-top: 5px;
    margin-right:0.5vw;
    font-size:2.9vw;
}
.connect-font{
    display: block;
}
.fa-twitter, .fa-facebook{
    color:gray;
}
.fa-instagram{
    color:gray;
}

/* Films Page */

.kinds{
    width:160px;
    background-color: var(--bg-color5);
    border: 5px solid var(--bg-color5);
    text-align: left;
    font-size: 20px;
    margin:70px 0 50px 50px;
}
.fa-chevron-down{
    padding-left: 55px ;
}
.kinds:hover{
    background-color: var(--bg-color6);
    border:5px solid var(--bg-color6)
}

/* Video Page Showing*/

.movie-details{
    width: 100%;
    height: auto;
    display:flex;
    justify-content:space-around;
    text-align: center;
}

.film-show{
    width:40%;
    height:600px;
    background-size: cover;
    background-repeat: no-repeat;
}
.film-name{
    width: 40%;
    height: auto; 
    margin-top: 20px;  
    text-align: center;
}
.film-name h1{
    font-size: 40px; 
}
.buy{
    width: 12vw;
}
.price{
    font-size: 35px;
    font-weight: bold;
}
.trailer{
    width: 90%;
    height:auto;
    text-align: left;
    margin-top: 100px;
}

/* About Page */

.about-us, .contact-us{
    text-align: left;
    padding-top: 0;
}
.cinema{
    width: 100%;
    height:700px;  
    background-image: url("/images/popcorn.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-top: 5.6vw;
}
.cinema-text{
    font-size: 22px;
    padding:0 20px;
}

/* Contact Us Page*/

.contact-container{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding:40px 0;
    font-size: 22px;
}
.contact-header{
    width: 100%;   
}
.contact-us{
    padding-left:15px
}
.contact-container i{
    font-size: 5.6vw;
    color:var(--bg-color8)
}
.mail, .call{
    width:50%
}
.adress{
    width:50%
}
.map{
    width:60%;
    height:auto;
    border-radius: 5px;
}
label{
    display: block;
}
input{
    width: 93%;
}
.contact-form{
    width:50%;
    height: auto;
    border: 1px solid var(--bg-color1);
    padding-left: 1.4vw;
    text-align: initial;
    font-size: 20px;
}
#message{
    width:93%;
}
#submit{
    width:100px;
    display: flex;
    font-weight: bold;
    font-size: 20px;
    margin:30px  auto;   
}
.note{
    font-size: var(--bg-size1);
    font-weight: normal;
}

/* Checkout Success Page */

.success{
    width: 100%;
    text-align: center;
    font-size: var(--bg-size2);
    padding-top: 70px;
    font-style: italic;
}
.fa-circle-check{
    color:rgb(47, 188, 47);
    font-size: 100px;
}
.success h1{
    color:var(--bg-color3);
    margin-top: 3px;
}
.purchased-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.purchased{
    width: 25%;
}
.purchased img{
    width: 80%;
    height:80%;
    border-radius: 5px;
}
.continue-shopping{
    margin-bottom: 80px;
    margin-left: 34.8vw;
    font-size: 25px;
}

/* Checkout Page*/

* {
	box-sizing: border-box;
  }
  

.row {
	display: -ms-flexbox; 
	display: flex;
	-ms-flex-wrap: wrap; 
	flex-wrap: wrap;
	margin: 0 -16px;
  }
  
  .col-25 {
	-ms-flex: 25%; 
	flex: 25%;
  }
  
  .col-50 {
	-ms-flex: 50%; 
	flex: 50%;
  }
  
  .col-75 {
	-ms-flex: 75%; 
	flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
	padding: 0 16px;
  }
  
  .payment_container {
	background-color: #f2f2f2;
	padding: 5px 20px 15px 20px;
	border: 1px solid lightgrey;
	border-radius: 3px;
  }
  
  input[type=text] {
	width: 100%;
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
  }
  
  label {
	margin-bottom: 10px;
	display: block;
  }
  
  .icon-container {
	margin-bottom: 20px;
	padding: 7px 0;
	font-size: 24px;
  }
  
  .btn {
	background-color: #04AA6D;
	color: white;
	padding: 12px;
	margin: 10px 0;
	border: none;
	width: 100%;
	border-radius: 5px;
	cursor: pointer;
	font-size: 17px;
	text-decoration: none;
  }
  
  .btn:hover {
	background-color: #45a049;
  }
  

  
  hr {
	border: 1px solid lightgrey;
  }
  
  span.price {
	float: right;
	color: grey;
  }
  
  @media (max-width: 800px) {
	.row {
	  flex-direction: column-reverse;
	}
	.col-25 {
	  margin-bottom: 20px;
	}
  }

  .container_cart img {
	width: min(90%, 100%);
	margin-inline: auto;
	display: inline-block;
	padding-right: 3%;
}


.paid {
	position: absolute;
	width: 873px;
	height: 868px;
	left: 284px;
	top: 243px;

	background: #FFFFFF;

	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.14);
	border-radius: 15px;
}

.black{
	width: min(90%, 1000%);
	margin-inline: auto;
	width: 703px;
	height: 178px;
	left: 371px;
	top: 331px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	text-align: center;

	color: #000000;
}

.black_p{
	width: min(90%, 1000%);
	margin-inline: auto;
	width: 703px;
	height: 178px;
	left: 371px;
	top: 331px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 700px;
	text-align: center;
	list-style: none;

	color: #000000;
}





/* Log In Page */

.inline{
    width: var(--bg-size2);
    height: var(--bg-size2);
}

/* Sign Up Page */

.read{
    font-size:14px
}

  

@media all and (max-width: 820px) {
    .navbar{
        font-size:25px
    }
    .hamburger{
        display: flex;   
    }
    .navbar-list{
        display:none
    }
    #navbar-list-hamburger{
        position:absolute;
        z-index:1000;
        top:0;
        right:0;
        width:200px;
        height:400px;
        overflow:hidden;
        background-color: var(--bg-color2);
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: -5px;
        transform: translateX(-900px);
        transition: transform ;
    }
    .close{
        display:flex;
        z-index:1001;
        align-self: start;
    }
    #navbar-list-hamburger:target{
        transform:translateX(0)
    }
    .logo-img{
        height:50px
    }   
    .list-item a{
        display:block;
        color:var(--bg-color1);
    }
    .success{
        font-size: 20px;
    }
    .purchased{
        width: 40%;
    }
    .pay-end{
        grid-template-columns: 60% 50%;
    }
    }



@media all and (max-width:800px){
    .cover5, .cover-angel{
        display: none;
    }
    .content h1{
        width: 100%;
        padding-bottom: 2px;
    }
    
    .total{
        grid-column: 1/2;
        grid-column: 1;
    }
    .payment{grid-row: 2;
        grid-column: 2;
        justify-self: end;
    }
    .register input, .register label, .choose label{
        font-size: 24px;
    }
}
    
@media all and (max-width: 700px){
    .container{
        display: flex;
        flex-direction: column-reverse;
        justify-content:center;
        padding-right: initial;
        
    }

    .content{
        margin:initial;
        align-self: center;
    }
    .cover4, .cover-lion{
        display: none;
    }
    .about-contact, .connect{
        font-size:14px;
        line-height: 20px;
    }
    .poster-header{
        font-size: 10px;
        
    }
    .connect i, .film-name h1, .cinema-text, button{
        font-size: 20px;
    }
    .content h1{
        font-size: 14px;
        line-height: var(--bg-size1);
    }
    .content p, .film-name h2{
        font-size:var(--bg-size1);
        text-align: center;
        line-height: 14px;
        padding-bottom: 2px;
    }
    .film-show{
        font-size:1.9vw;
        display:flex;
        flex-direction: column;
    }
    .film-name{
        width:60%;   
    }
    .buy{
        width:100px; 
        font-size:16px
    }
    .trailer{
        width:95%;
        align-self: center;
        font-size:10px
    }
    .cinema-text, .continue-shopping{
        font-size: 16px;
    }
    .contact-container{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2px;
        font-size: 20px;
    }  
    .mail, .call, .adress{
        width: 100%;
    }
    .contact-form{
        width: 80%;
    }
    .contact-container i{
        font-size: 50px;
        position: absolute;
        padding-top: 23px;
        left:13%;
    } 
    .contact-form{
        align-self: initial;
    }
    .checkout{
        font-size: 4vw;
    }
    .buying1, .buying2{
        font-size: 3.8vw;
    }
    .payment, .price{
        font-size: 25px;
    }
    .register input, .register label, .choose label{
        font-size: 18px;
    }
    .inline{
        width:20px;
        height:20px
    }
     .log{
        margin-top: 60px;
    }   
    
    .login-container{
        padding-top: 100px;
    }
}

      
@media all and (max-width: 455px){
    .hamburger{
        margin-left: 50vw;
    }
    .icons{
        display:none
    }
    .small{
        width:100%;
        display: block;
        text-align: center;
        margin-right: -55vw;
    }
    .small a{
        padding-right: 9.9vw;
    }
    .logo-img{
        margin-left: 10px;
    }
    .buy, .payment{
        font-size: 18px
    }
    .cinema-text{
        font-size: 14px;
    }
    .contact-container{
        font-size: 16px;
    }
    .contact-container i{
        left:5%;
        font-size: 40px;
        padding-top:20px
    }
    .content{
        width: 100%;
    }
    .register{
        grid-template-columns: 21% 23% 55%;
    }
    .forgot{
        display: block;
        position: relative;
        text-align: center;
        margin-top:10px}
    .size{
        width: 60%;
    }
    .log{
        margin-top: 40px;
    }
    .without-order, .information, .log, .sign, .button{
        font-size: 16px;
    }
}
